{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<section class="pricing py-5">
  <div class="container">
      {% include "users/logout_btn.html" %}
      {% include "users/messages.html" %}
      <div class="row py-5">
        <!--Vendor Info-->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body m-auto">
              <h5 class="card-title text-uppercase text-center">Enter Transaction</h5>
              <hr>
              <a class="btn btn-warning rounded-pill px-4 py-2 text-white" href="{% url 'search-customer' %}">Search User</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Note: You will be prompted to enter new transaction once you select customer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body m-auto">
              <h5 class="card-title text-uppercase text-center">View Transactions</h5>
              <hr>
              <a class="btn btn-warning rounded-pill px-4 py-2 text-white" href="{% url 'transaction_data' %}">View Transaction Data</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">View all transactions data</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body m-auto">
              <h5 class="card-title text-uppercase text-center">Other Options</h5>
              <hr>
              <a class="btn btn-warning rounded-pill px-4 py-2 text-white" href="{% url 'special' %}">More Options</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">View and update special business data</p>
            </div>
          </div>
        </div>
      </div>
      <!--User Update Form-->
      <div class="row py-5">
        <div class="col-lg-6">
          <div class="card pricing mb-5 mb-lg-0">
            <img class="account-img mx-auto py-2" width="auto" height="60px" src="{{ user.profile.image.url }}" />
            <div class="card-body">
                <h5 class="card-title text-uppercase">{{ user.company_name }}</h5>
                <ul class="fa-ul ml-0" style="list-style: none;">
                  <li>Email: {{ user.email }}</li>
                  <li>Address: {{ user.address }}</li>
                  <li>Website (URL): {{ user.website }}</li>
                  <li>Phone: {{ user.phone_number }}</li>
                </ul>
                <hr>
                <h5 class="card-title text-uppercase">Special Business Data</h5>
                <ul class="fa-ul ml-0" style="list-style: none;">
                  <li>Business Type: {{ user.business_type }}</li>
                  <li>Business Structure: {{ user.business_structure }}</li>
                  <li>Length of Operation: {{ user.length_of_operation }}</li>
                  <li>Number of Employees: {{ user.number_of_employees }}</li>
                  <li>Location Type: {{ user.location_type }}</li>
                  <li>Special Business: {{ user.speical_business }}</li>
                  <li>Collecting Tax Credits: {{ user.tax_credits }}</li>
                  <li>Tax Credit Rate: {{ user.rate }}</li>
                </ul>
            </div>
            <div class="card-footer">
              <p class="text-muted">To update please click on update other options</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card pricing mb-5 mb-lg-0">
            <div class="card-body m-0">
              <h5 class="card-title text-uppercase text-center">Update Contact</h5>
              <hr>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-row m-0">
                  <button class="btn btn-danger rounded-pill px-4 py-2 text-white" type="submit">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock content %}