{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Reset Password Email
{% endblock title %}

{% block content %}
<div class="container">
    {% include "users/messages.html" %}
    <div class="row">
        <div class="col-lg-8 col-xl-8 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">An email has been sent with instructions to reset your password!</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}