{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Tax Credits & Bank Information
{% endblock title %}

{% block content %}
<section class="pricing py-5">
    <div class="container">
        {% include "users/back_logout.html" %}
        {% include "users/messages.html" %}
        <div class="row">
            <div class="col-lg-8 col-xl-8 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Tax Credit/Rates</h5>
                        <ul class="fa-ul ml-0" style="list-style: none;">
                            <li>Collecting Tax Credits: {{ object.tax_credits }}</li>
                            <li>Tax Credit Rate: {{ object.rate }}</li>
                        </ul>
                        <hr>
                        <h5 class="card-title text-uppercase">Payment Info</h5>
                        <ul class="fa-ul ml-0" style="list-style: none;">
                            <li>Bank Name: {{ object.bank_name }}</li>
                            <li>Branch Location: {{ object.branch_location }}</li>
                            <li>ABA Number: {{ object.aba_number }}</li>
                            <li>Account Number: {{ object.account_number }}</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted">
                            Contact Shop Newark if changes to payment info, tax credits, and rates are need.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}