{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Terms & Conditions
{% endblock title %}

{% block content %}
<section class="pricing py-5">
  <div class="container">
      {% include "users/messages.html" %}
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Terms & Conditions</h5>
                    <p>
                        This Agreement to accept and process Stored-value cards is made between you, the Merchant (also “you” and “your(s)”), and Fincredit Inc. and its associates, including, but not limited to 
                        Meramak Inc. which is the third party processing service provider of Fincredit Inc, (also “Fincredit”, “we”, “us” and “our”(s)). Fincredit Inc. is the Program Administrator of Shop Newark 
                        Property Tax Reward Program (the “Program”).
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>